extends layout 

block stylesheets 
  link(rel='stylesheet', href='/styles/addBeerKey.css')

block content
  h1.title= title
  if msg 
    .msg= msg
  .container
    form(action=`/articles/${article._id}/beer-key` method="POST" class="form-card" autocomplete="off")
      .text-input-container
        input(type="text" name="beer_key[blue]" id="blue" required placeholder=" " value=`${article.beer_key.blue ? article.beer_key.blue : ""}`)
        label(for="blue") Blue:

      .text-input-container
        input(type="text" name="beer_key[yellow]" id="yellow" required placeholder=" " value=`${article.beer_key.yellow ? article.beer_key.yellow : ""}`)
        label(for="yellow") Yellow:

      input(type="submit" value="Submit" class="button" id="submit-btn")