extends layout 

block stylesheets
    link(rel='stylesheet', href='/styles/article.css')

block content 
    //- pre= h.dump(article)
    form.control-panel(method="POST")
        a.btn.btn-other(href=`/articles/${article._id}/beer-key`) 
          <i class="fa-solid fa-beer-mug-empty"></i> 
          <i class="fa-solid fa-key"></i>
        a.btn.btn-other(href=`/articles/${article.article_num}/triangle-test-key`) △ 
          <i class="fa-solid fa-key"></i>
        a.btn.btn-edit(href=`/articles/${article.slug}/edit`) Edit
        button.btn.btn-delete(type="submit" formaction=`/api/articles/${article._id}/delete`) Delete
    article
        h3.date= h.moment(article.created).format("MMMM D, YYYY")
        h1= title 
        img(src=`/uploads/${article.showcase_img}`)
        p !{article.body}

block scripts 
    //- chart.js
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    //- required to defer chart.js animation until scrolled into view
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred@2/dist/chartjs-plugin-deferred.min.js")
    //- custom script file
    script(src="/javascript/article.js")