extends layout 

block stylesheets 
  link(rel='stylesheet', href='/styles/successfulTriangleTest.css')

block content
  if msg 
    .msg= msg
  
  //- if the triangle key for this token hasn't been submitted yet:
  if !triangleKey
    if triangleTest.name
      h1.thanks(data-actual-unique="unknown")= `Thank you ${triangleTest.name}!`
    else 
      h1.thanks(data-actual-unique="unknown")= `Thank you!`
    p The presenter hasn't submitted the answer key yet... Go tell him to submit it for you and then come back and refresh this page. 
  
  //- if the triangle key for this token HAS already been submitted
  else
    if triangleTest.name
      h1.thanks(data-actual-unique= triangleKey.unique_cup)= `Thank you ${triangleTest.name}!`
    else 
      h1.thanks(data-actual-unique= triangleKey.unique_cup)= `Thank you!`
  
    //- if they actually noticed a difference
    if triangleTest.preference !== "none"
      span You chose <span class="larger">Cup #{triangleTest.perceived_unique}</span> as the odd beer out.
      //- if they picked the right cup
      if triangleTest.perceived_unique === triangleKey.unique_cup
        //- success checkmark
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 193.3 193.3">
          <circle class="cls-1 circle" cx="96.65" cy="96.65" r="94.15"/>
          <polyline class="cls-1 checkmark" points="46.9 101.4 76.9 131.4 146.4 61.9"/>
        </svg>
        p Correct! The unique beer was in fact <span class="hl">Cup #{triangleKey.unique_cup}!</span> Since you were able to successfully detect a difference, this <span class="ul">might</span> indicate that there is a statistically significant difference between the beers...
      //- if they picked the wrong cup
      else  
        //- Error Checkmark
        <svg class="checkmark-error" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" >
          <circle cx="26" cy="26" r="25" fill="none" class="checkmark__circle "></circle>
          <path fill="none" d="M 12,12 L 40,40 M 40,12 L 12,40" class="checkmark__check"></path>
        </svg>
        p Believe it or not, that is incorrect! The odd beer out was actually in <span class="hl">Cup #{triangleKey.unique_cup}!</span> Since you were unable to successfully detect a difference, this <span class="ul">might</span> indicate that there isn't any statistically significant difference between the beers.

    //- if they didn't notice a difference
    else
      p You indicated that there were no perceptible differences between these beers.
      p If you're curious, <span class="hl">Cup #{triangleKey.unique_cup}</span> had the unique beer out of the three.
    
    .app
      .cup-container 

  //- p Stay tuned for a presentation about what this test was about, how these beers were made, and whether or not there was a statistically significant difference between them!

  h2 What was in my cups?
  p These beers were identical NEIPA recipes fermented with 2 different yeasts from Escarpment Labs. The first strain, Thiol Libre, is a well known strain that specializes in the biotransformation of thiols to create more guava and passionfruit aromas. The second, EL-1739, is a proprietary experimental strain based off of the classic American Ale strain, designed to biotransform hop terpenes for more citrus character.  While both strains "biotransform" the beers, they do so using different mechanisms.

  .table 
    .cell.headings Cup A 
    .cell.headings Cup B
    .cell.headings Cup C 
    .cell= `${beers.unique.cups == 'A' ? beers.unique.beer : beers.other.beer}`
    .cell= `${beers.unique.cups == 'B' ? beers.unique.beer : beers.other.beer}`
    .cell= `${beers.unique.cups == 'C' ? beers.unique.beer : beers.other.beer}`

  p The recipe and process were identical in each of the beers, even down to the pitch rate and viability of the yeast (verified with microscopy). Here's an overview of the recipe, if you're curious: 

  .table.recipe-table 
    .cell.headings Base Grains 
    .cell 77%
    .cell.headings Flaked Oats 
    .cell 13%
    .cell.headings Chit Malt 
    .cell 10%
    .cell.headings Mash Hop 
    .cell 2oz Cascade
    .cell.headings Late Boil Hop (10min)
    .cell 1oz Idaho 7
    .cell.headings Whirlpool Hops
    .cell 6oz total Citra, Centennial, Galaxy
    .cell.headings Biotrans Dry Hops
    .cell 5oz total Citra, Mosaic, Galaxy
    .cell.headings Post Ferm Dry Hops 
    .cell 5oz total Citra, Mosaic, Nectaron

  p Interested in learning more about biotransformation? Consider reading <a class="inline" href="https://escarpmentlabs.com/blogs/resources/brewers-guide-to-yeast-flavour-biotransformation">THIS GUIDE</a> from Escarpment Labs on the subject!

block scripts
  //- custom script file
  script(src="/javascript/successfulTriangleTest.js")