extends layout 

block stylesheets
    link(rel='stylesheet', href='/styles/triangleTestResults.css')

block content 
  //- pre= h.dump(article)
  h1.title= title
  h2.subtitle= `${article.title}`
  section.results-section 
    h3.section-title Demographics 
    canvas#demographics 
  section.results-section 
    h3.section-title Statistical Significance 
    h4= `P-val: ${article.stats.p_val}`
    p= `${article.stats.significance_threshold.num_correct} correct guesses needed for statistical significance (p: ${article.stats.significance_threshold.p_val})`
    

block scripts 
    //- chart.js
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    //- required to defer chart.js animation until scrolled into view
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-deferred@2/dist/chartjs-plugin-deferred.min.js")
    //- custom script file
    script(src="/javascript/triangleTestResults.js")