mixin articleForm(article = {})
    form(action=`/articles/new/${article._id || ''}` method="POST" class="form-card" enctype="multipart/form-data")
        .form-card__section.main
            h2.form-card__section--heading Content
            label(for="title") Title 
            input(type="text" name="title" id="title" required value=article.title)

            label(for="category") Category 
            input(type="text" name="category" id="category" required value=article.category)

            label(for="tagline") Tagline 
            textarea(name="tagline" id="tagline") #{article.tagline}

            //- image upload
            label(for="showcase_img") Showcase Image 
            input(type="file" name="showcase_img" id="showcase_img" accept="image/gif, image/png, image/jpeg")
            if article.showcase_img
              .img-gallery
                .gallery-img-container
                  - const [filename, ext] = article.showcase_img.split('.');
                  img.gallery-img.showcase(src=`https://amateur-alchemy.s3.us-east-2.amazonaws.com/${filename}_small.${ext}`, data-name=article.showcase_img data-angle="0" alt=article.title width=150)
                  button(class="gallery-btn lock-btn")
                    i.fa-solid.fa-lock-open
                  button(class="gallery-btn expand-btn") 
                    i.fa-solid.fa-expand
                  button(class="gallery-btn rotate-btn") 
                    i.fa-solid.fa-rotate-left
                  button(class="gallery-btn delete-btn") 
                    i.fa-solid.fa-trash

            label(for="photos") Photos 
            input(type="file" name="photos" id="photos" accept="image/gif, image/png, image/jpeg" multiple)
            if article.photos
                .img-gallery
                    each photo of article.photos
                      - const [filename, ext] = photo.split('.');
                      .gallery-img-container
                        img.gallery-img(src=`https://amateur-alchemy.s3.us-east-2.amazonaws.com/${filename}_small.${ext}`, data-name=photo  alt=article.title data-angle="0" width=150)
                        button(class="gallery-btn lock-btn")
                          i.fa-solid.fa-lock-open
                        button(class="gallery-btn expand-btn") 
                          i.fa-solid.fa-expand
                        button(class="gallery-btn rotate-btn") 
                          i.fa-solid.fa-rotate-left
                        button(class="gallery-btn delete-btn") 
                          i.fa-solid.fa-trash

            input(type="submit" value="Save Images" class="button")

            //- main content
            label(for="body") Body 
            #editor= article.body
            textarea(name="body" id="body" hidden) #{article.body}

        .form-card__section.tags
            h2.form-card__section--heading Tags 
            .tags__holder
            .tags__input-container
              input(type="text" name="tags" id="tags__input" placeholder="Add a tag" value=article.tags && article.tags.join(', '))
              ul.tags__dropdown.dropdown

        input(type="submit" value="Save" class="button")