mixin beerForm(beer = {})
    form(action=`/editBeer/${beer._id || ''}` method="POST" class="form-card" enctype="multipart/form-data")
        .form-card__section.main
            h2.form-card__section--heading Identity
            label(for="name") Name 
            input(type="text" name="name" required value=beer.name)

            label(for="brewery") Brewery
            input(type="text" id="brewery" required name="brewery") 

            label(for="bjcp-style") Style
            input(type="select" name="bjcp_style")

            label(for="description") Description 
            textarea(name="description") #{beer.description}

            //- image upload
            label(for="photo") Photo 
            input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
            if beer.photo 
                img(src=`/uploads/${beer.photo}`, alt=beer.name width=200)
        
        .form-card__section.sidebar
            h2.form-card__section--heading Specs
            label(for="abv") ABV
            input(type="number" id="abv" required name="abv" step="any")

            label(for="ibu_reported") IBU (Reported)
            input(type="number" id="ibu_reported" name="ibu_reported" step="any")

            label(for="ibu_measured") IBU (Measured)
            input(type="number" id="ibu_measured" name="ibu_measured" step="any")

            label(for="pH") pH
            input(type="number" id="pH" name="pH" step="any")

            label(for="final_gravity") Final Gravity
            input(type="number" id="final_gravity" name="final_gravity" step="any")

            label(for="srm") SRM
            input(type="number" id="srm" name="srm" step="any")


        .form-card__section.wide
            h2.form-card__section--heading BJCP
            label(for="rating[aroma][description]") Aroma:
                input(type="number" name="rating[aroma][score]" class="score-input") 
                span / 12
            span.bjcp-comment Malt, hops, esters and other aromatics
            textarea(name="rating[aroma][description]" placeholder="Describe the aroma...") #{beer.rating}

            label(for="rating[appearance][description]") Appearance:
                input(type="number" name="rating[appearance][score]" class="score-input")
                span / 3
            span.bjcp-comment Color, clarity and head (retention, colour, texture)
            textarea(name="rating[appearance][description]" placeholder="Describe the appearance...") #{beer.rating}

            label(for="rating[flavor][description]") Flavour:
                input(type="number" name="rating[flavor][score]" class="score-input")
                span / 20
            span.bjcp-comment Malt, hops, fermentation characteristics, balance, finish/aftertaste, and other flavor characteristics
            textarea(name="rating[flavor][description]" placeholder="Describe the flavor...") #{beer.rating}

            label(for="rating[mouthfeel][description]") Mouthfeel:
                input(type="number" name="rating[mouthfeel][score]" class="score-input")
                span / 5
            span.bjcp-comment Body, carbonation, warmth, creaminess, astringency, and other palate sensations
            textarea(name="rating[mouthfeel][description]" placeholder="Describe the mouthfeel...") #{beer.rating}

            label(for="rating[overall][description]") Overall:
                input(type="number" name="rating[overall][score]" class="score-input")
                span / 10
            span.bjcp-comment Overall drinking pleasure and give suggestions for improvement
            textarea(name="rating[overall][description]" placeholder="Overall impressions...") #{beer.rating}

        input(type="submit" value="Save" class="button")