mixin beerForm(beer = {})
    form(action=`/addBeer/${beer._id || ''}` method="POST" class="form-card" enctype="multipart/form-data")
        label(for="name") Name 
        input(type="text" name="name" value=beer.name)

        label(for="Brewery") Brewery
        input(type="text" id="brewery" name="brewery") 

        label(for="description") Description 
        textarea(name="description") #{beer.description}

        //- image upload
        label(for="photo") Photo 
        input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
        if beer.photo 
            img(src=`/uploads/${beer.photo}`, alt=beer.name width=200)

        label(for="bjcp-style") BJCP Style
        textarea(name="bjcp-style") #{beer.bjcp_style}
        
        label(for="aroma-descrip") Aroma
        textarea(name="aroma-descrip") #{beer.rating}
        label(for="aroma-score") Score
        input(type="number" name="aroma-score")

        label(for="appearance-descrip") Appearance
        textarea(name="appearance-descrip") #{beer.rating}
        label(for="appearance-score") Score
        input(type="number" name="appearance-score")

        label(for="flavour-descrip") Flavour
        textarea(name="flavour-descrip") #{beer.rating}
        label(for="flavour-score") Score
        input(type="number" name="flavour-score")

        label(for="mouthfeel-descrip") Mouthfeel
        textarea(name="mouthfeel-descrip") #{beer.rating}
        label(for="mouthfeel-score") Score
        input(type="number" name="mouthfeel-score")

        label(for="overall-descrip") Overall
        textarea(name="overall-descrip") #{beer.rating}
        label(for="overall-score") Score
        input(type="number" name="overall-score")

        //- a starting dash indicates we're strictly writing javascript 
        - const specs = ['pH', 'FG', 'ABV', 'IBU (Reported)', 'IBU (Measured)', 'SRM'];
        - const tags = beer.tags || []

        each spec in specs 
            label(for=spec) #{spec}
            input(type="number" id=spec name=spec)

        input(type="submit" value="Save" class="button")