mixin breweryForm(brewery = {})
    form(action=`/breweries/new/${brewery._id || ''}` method="POST" class="form-card" enctype="multipart/form-data")
        .form-card__section.main
            h2.form-card__section--heading Identity
            label(for="name") Name 
            input(type="text" name="name" required value=brewery.name)

            label(for="description") Description 
            textarea(name="description" id="description") #{brewery.description}

            //- image upload
            label(for="photos") Photos 
            input(type="file" name="photos" id="photo" accept="image/gif, image/png, image/jpeg" multiple)
            if brewery.photos
                .img-gallery
                    each photo of brewery.photos
                        img.gallery-img(src=`/uploads/${photo}`, alt=brewery.name width=100)

            //- address, long and lat:
            label(for="address" placeholder="Enter a location") Address
            //- the value checks if there is a brewery.location, and if there is it inputs the brewery.location.address
            input(type="text" id="address" name="location[address]" value=brewery.location && brewery.location.address) 

            label(for="lng") Address Longitude
            input(type="text" id="lng" name="location[coordinates][0]" value=brewery.location && brewery.location.coordinates[0])
            label(for="lat") Address Latitude
            input(type="text" id="lat" name="location[coordinates][1]" value=brewery.location && brewery.location.coordinates[1])

            label(for="brewery") Website
            input(type="text" id="website" name="website" value=brewery.website) 

            //- hidden inputs for google Place data
            input(type="hidden" name="google_data[place_id]" value=brewery.google_data && brewery.google_data.place_id)
            input(type="hidden" name="google_data[map_url]" value=brewery.google_data && brewery.google_data.map_url)
            input(type="hidden" name="google_data[tags]" value=brewery.google_data && brewery.google_data.tags)
            input(type="hidden" name="google_data[phone]" value=brewery.google_data && brewery.google_data.phone)
            input(type="hidden" name="google_data[images]" value=brewery.google_data && brewery.google_data.images)

        .form-card__section.tags
            h2.form-card__section--heading Tags 
            textarea(name="tags" id='tags-input')= brewery.tags && brewery.tags.join(', ')

        input(type="submit" value="Save" class="button")