mixin reviewBody(beer)
    //- pre= h.dump(beer)
    .review-container
        .identity
            .name-container 
                h1.name= beer.name
                h2.brewery= beer.brewery && beer.brewery.name 
                h3.style= beer.bjcp_style 
                .date= h.moment(beer.created).format("MMM Qo, YYYY")
                - const overallScore = Object.values(beer.rating).reduce((acc, curr) => {return acc += curr.score==null ? 0 : curr.score}, 0);
            .score-container 
                .outer-circle 
                    .inner-circle
                    .segment.segment-se
                    .segment.segment-sw
                    .segment.segment-nw
                    .segment.segment-ne
                .score(data-score=overallScore*2)= '0%'
        
        .review-img-container
            img.showcase-img(src=`/uploads/${beer.photos[0]}`, alt=beer.name)
            .img-gallery 
                each photo in beer.photos
                    img.gallery-img(src=`/uploads/${photo}`, alt=beer.name)
            .aux-specs
                if beer.abv
                    .aux-specs__spec
                        span.aux-specs__spec--title ABV:
                        span.aux-specs__spec--value= `${beer.abv}%`
                if beer.ph
                    .aux-specs__spec
                        span.aux-specs__spec--title pH: 
                        span.aux-specs__spec--value= beer.pH
                if beer.ibu_reported
                    .aux-specs__spec
                        .aux-specs__spec--title-container
                            span.aux-specs__spec--title IBU:
                            span.aux-specs__spec--subtitle REPORTED
                        span.aux-specs__spec--value= beer.ibu_reported
                if beer.ibu_measured
                    .aux-specs__spec
                        .aux-specs__spec--title-container
                            span.aux-specs__spec--title IBU:
                            span.aux-specs__spec--subtitle MEASURED
                        span.aux-specs__spec--value= beer.ibu_measured
                if beer.final_gravity
                    .aux-specs__spec
                        span.aux-specs__spec--title FG:
                        span.aux-specs__spec--value= beer.final_gravity.toFixed(3)
                if beer.srm
                    .aux-specs__spec
                        span.aux-specs__spec--title SRM:
                        span.aux-specs__spec--value= beer.srm
            
        .ratings 
            .brewer-notes
                h2.brewer-notes__title Brewer's Notes
                .brewer-notes__content.textbox= beer.description

            h2.brewer-notes__title.tasting Tasting Notes    
            each section in Object.entries(beer.rating)
                .ratings__section 
                    .ratings__section--title 
                        .ratings__section--subtitle= h.capitalizeFirst(section[0])
                        .ratings__section--score= `${section[1].score} / ${section[1].max_score}`
                    .ratings__section--content.textbox= section[1].description
        
        if beer.tags
            .tags-container
                h3.tags-container__title Tags 
                .tags-container__tags 
                    each tag of beer.tags 
                        .tags-container__tags--tag= h.capitalizeFirst(tag)

        .radar-container
            canvas#radar(width="400" height="400")

    
